---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';

import { getConfigAsJson } from '~/utils/utils';
import Headline from '~/components/ui/Headline.astro';
import type { MetaData } from '~/types';

const { site, metadata: metadataConfig } = getConfigAsJson();

const metadata: MetaData = {
  title: `${site.name} - ${metadataConfig.description}`,
  keywords: [...metadataConfig.keywords],
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Get template',
      //   href: 'https://github.com/onwidget/astrowind',
      //   target: '_blank',
      //   icon: 'tabler:download',
      // },
      { text: 'Learn more', href: '#what-is-porn-addiction' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <p>Escape porn addiction</p>
      <p>Embrace <span class="text-accent dark:text-white highlight">healthy life </span></p>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="what-is-porn-addiction"
    isReversed
    title="What is Porn Addiction?"
    subtitle="porn addiction is a phenomenon of the brain marked by compulsive use of pornography which proves difficult to stop despite negative consequences, and which often worsens over time"
    items={[
      {
        title: 'Increased consumption over time',
        description:
          'Individuals with porn addiction often find themselves increasing the frequency and duration of their viewing over time.',
      },
      {
        title: 'Persistent use despite negative outcomes',
        description:
          'Addicts may find that their use of pornography negatively affects their relationships, family, health, or career, yet struggle to stop despite these consequences.',
      },
      {
        title: 'Escalation in intensity',
        description:
          'Porn addicts may require more intense experiences to achieve satisfaction, which can involve longer viewing sessions and a diversification of content types.',
      },
    ]}
    image={{
      src: '~/assets/images/home/markers-of-porn-addiction.png',
      alt: 'Markers of porn addiction',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Markers of porn addiction</h3>
      <span
        >Individuals may think their porn use is potentially addictive if they have all of the following markers</span
      >
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        icon: 'tabler:clipboard',
        classes: {
          icon: 'bg-red-600 dark:bg-red-800',
        },
        title: 'Sexual dysfunctions',
        description: `Such as erectile dysfunction and delayed ejaculation, as well as a decrease in sensitivity due to overstimulation.`,
      },
      {
        icon: 'tabler:clipboard',
        classes: {
          icon: 'bg-red-600 dark:bg-red-800',
        },
        title: 'Exhaustion',
        description: 'The impact of addiction on sleep patterns and overall health can lead to chronic fatigue.',
      },
      {
        icon: 'tabler:clipboard',
        classes: {
          icon: 'bg-red-600 dark:bg-red-800',
        },
        title: 'Lack of motivation',
        description:
          'A lack of motivation is common, with the addiction taking precedence over other life goals and interests.',
      },
      {
        icon: 'tabler:clipboard',
        classes: {
          icon: 'bg-red-600 dark:bg-red-800',
        },
        title: 'Clouding of consciousness',
        description:
          'The cognitive effects, often referred to as "brain fog," can cloud consciousness and affect daily functioning and decision-making.',
      },
    ]}
    image={{
      src: '~/assets/images/home/symptoms-of-porn-addiction.png',
      alt: 'Symptoms of porn addiction',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Symptoms of porn addiction</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        icon: 'tabler:circle-letter-x',
        classes: {
          icon: 'bg-amber-600 dark:bg-amber-600',
        },
        title: 'Problem 1: porn is more available than primitive sex',
        description:
          'The modern environment provides an unprecedented level of access to pornography, overwhelming the reward system which evolved in an era of scarcity.',
      },
      {
        icon: 'tabler:circle-letter-x',
        classes: {
          icon: 'bg-amber-600 dark:bg-amber-600',
        },
        title: 'Problem 2: porn is more novel than primitive sex',
        description:
          "The brain's reward system is wired to seek novel experiences, and the internet offers an endless stream of new pornographic content, fueling the addiction.",
      },
      {
        icon: 'tabler:circle-letter-x',
        classes: {
          icon: 'bg-amber-600 dark:bg-amber-600',
        },
        title: 'Problem 3: porn is more stimulating than primitive sex',
        description:
          'Pornography often presents exaggerated, artificial stimuli that can be more compelling than real-life sexual encounters, creating a supernormal response.',
      },
    ]}
    image={{
      src: '~/assets/images/home/why-is-porn-addiction-difficult-to-overcome.png',
      alt: 'Why is porn addiction difficult to overcome',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Why is porn addiction difficult to overcome?
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Headline
    title="How to Overcome Porn Addiction"
    classes={{
      container: 'pt-12 md:pt-16 lg:pt-20 max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
    }}
  />

  <Steps
    title="Rebooting your brain"
    subtitle="Rebooting is the practice of abstaining from pornography, masturbation, and sometimes orgasm to allow the brain and body to recover from the effects of problematic sexual habits."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Commit to abstinence</span>',
        description:
          'The first step in rebooting is to make a commitment to abstain from pornography, masturbation, and sometimes orgasm for a set period. This decision marks the beginning of the process and is crucial for initiating the recovery from the negative effects of these behaviors.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose your challenge duration</span>',
        description:
          'This could range from a few days to several months, with a 90-day reboot often considered a significant milestone. The chosen duration should be challenging yet achievable, allowing for a meaningful period of abstinence for recovery.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Step 3: <span class="font-medium">Develop supportive habits and hobbies</span>',
        description:
          "It's important to cultivate new habits and hobbies that promote self-growth and fill the time previously spent on problematic behaviors. This can include exercise, meditation, or learning new skills, which can help to reduce the risk of relapse and enhance overall well-being.",
        icon: 'tabler:list-check',
      },
      {
        title: 'Step4: <span class="font-medium">Exercise patience</span>',
        description:
          'Recovery is not immediate and that it involves ups and downs. By remaining patient, individuals can expect to see improvements in their mental and emotional state, as well as in their sexual health and overall well-being.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/home/rebooting-your-brain.png',
      alt: 'Rebooting your brain',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
